@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

.sidenav {
    height: 100%;
    width: 350px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #9ccfd8; 
    padding-top: 20px; 
    padding-left: 60px;
    font-family: "Mohave";
    font-size: large;
  }

body {
    background-color: #eb6f92;
}

.container{
    padding-top: 75px;
    left: 800px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 50px;
    font-family: "Dongle";
    font-size: 30px;

  
}

.contact{
    background-color: #f6c177;
    width: 200px;
    height: 100px
}

form{
    padding-left: 500px;
    padding-top: 100px;
    
}


img{
    border-radius: 100%;
    width: 100px;
    height: 100px;
}