@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300&display=swap');

.sidenav {
    height: 100%;
    width: 350px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #9ccfd8; 
    padding-top: 20px; 
    padding-left: 60px;
    font-family: "Mohave";
    font-size: large;
  }